.d{
    margin: 10%;
}
.b{
    font-size: 15px;
    line-height: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    background-color: #F2EBEB;
    padding: 12px 28px;
    margin: 5%;
    display: inline;
}
p{
    font-size: 20px;
    color: black;
}
.a{
    color: #000;
}
input{
    display: inline;
}