.btnm{
    background-color: #5b40c8;
    font-size: 15px;
  line-height: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
  padding: 12px 28px;
  margin: 2%;
  margin-left: 15%;
  display: inline;
}
.a1{
    text-decoration: none;
  color: #000;
  font-size: 12px;
  
}